.appbarparent {
    display: flex;

    width: 100%;
}

.appbarbtnparent {
    background-color: #fff;
    padding: 7px;
    width: 30%;
    border-radius: 7px;
    color: black;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 468px) {
    .appbarbtnparent {
    width: 90%;
}
}