.projects {
    min-height: 100dvh !important
    ;
    width: 100vw;
    background-color: #f7f7f7;
    color: black;
    padding-bottom: 6%;

}

.projectimagediv {
    max-height: 400px;
}

.projectgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    gap: 12px;
    padding: 1.4%;
}

.projectsingle {
    background-color: #ededed;
    cursor: pointer;
    min-width: 30%;
    border-radius: 7px;
    padding: 2%;
}

.projectsingleimg {
    border-radius: 4px;
}

.projecttitle {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 4px 2px 0 0;
}



.projectsingle p {
    padding: 0 3px 0 0;
    width: 100%;
    color: #484848;
}

@media only screen and (min-width:321px) and (max-width:768px) {
    .projectgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (max-width:468px) {
    .projectgrid {
        grid-template-columns: repeat(1, 1fr);
    }
}